* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  /* border: 1px solid black; */
  box-shadow: 10px 10px 5px #dedede, inset 1px 1px 3px #dedede;
  border-radius: 10px;
  padding: 20px 0;
  margin: 21px;
  text-align: center;
}

.icon-space {
  font-size: 30px;
  margin-bottom: 5px;
}

/* Header */
.title-header {
  font-size: 40px;
  font-family: "Mochiy Pop P One", sans-serif;
  color: rgb(16, 219, 219);
}

.colorbox-header {
  background-color: rgb(16, 219, 219);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header span {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  font-weight: 500;
}
/* --------------------- */

/* ------------------------------------- */
.color-blue {
  color: rgb(0, 0, 225);
}

.color-orange {
  color: rgb(225, 154, 0);
}

.color-green {
  color: rgb(90, 225, 0);
}

.displaynone {
  display: none;
}
